CompileFlags:
  Add:
    - "-std=c17"
    - "-I./"
    - "-pedantic"
    - "-Wall"
    - "-Wpedantic"
    - "-Wdeprecated"
    - "-Wextra"
    - "-xc"
  Compiler: clang

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes
  TypeNameLimit: 24
